<div class="bg">
   <div class='p'>
      <div class="style">
      <div class="header">
         CENTERSCREEN
      </div></div>
      <div class="body">
         <p>Centerscreen acts as bridge between the EOM (Enterprise Order Management) and the FM (Freight Manger) we can
            tender the load in centerscreen as like Freight Manager. We can also see the pickup date, delivery date,
            origin, destination and the load status for the particular load. It also provides information about the user
            belongs to which branch and the board codes associated with user. It provides information about the carrier
            search based on the origin, destination and the order number. It also provides information about particular
            carrier search, carrier insight and Freight search.
         </p>
         <p>The LTL Carrier Search information contains information about the carrier Line Haul rate ,Fuel charge,
            total, suggested rate and the CMS status of the carrier based on origin Zip, Dest Zip, Pickup date and
            weight of the carrier. The Centerscreen also contains the information about the particular branch code .It
            will contain information about the order number, the order status whether the order is in
            tender/Arrival/Check Call/Loaded/Unloaded/Dispatch, the carrier contains the load associated with the
            carrier ,It will also contain information about the origin city , origin station ,pickup date ,destination
            city, destination station, delivery date ,the load associated with the project and the Equipment.

         </p>
         <p>The Project code/branch code also indicates whether the load is in Fixme status (The load is in alert
            status). The red color highlighted load indicates the load is in Fixme status. Order History contains
            information about the order based on the origin, destination, project and the carrier. If we give Search
            after entering all the required details it will pulls the report based on the 7day ,30 days,90 days and 12
            months</p>
         <b> Application URL :</b> <a
            href="http://centerscreen.jbhunt.com/centerScreen/ViewCenterScreen.do?method=initView"> CENTERSCREEN</a>
            <br>
                                      <b>  Other Links :</b>
         <div class="video">
            <mat-video src="./assets/videos/1280.mp4"></mat-video>
         </div>
      </div>
   </div>
</div>