<mat-nav-list>
    <div class="profile-card">
        <img src="/assets/profile_pic/Sudhakar.JPG" >
        <div class="header">
            <h2>Sudhakar Vilvarajan</h2>
        </div>
    </div>

    <mat-divider></mat-divider>

    

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">Home</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/myprofile">My Profile</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>