<div class='bg'>
        <div class="cci">
                <p-card class="profile-card" styleClass="ui-card-shadow">
                <div class="style"><h3 class="header">  Central Customer Information(CCI)</h3></div>
                <div class="body">
                        <div class='p'>
                                <p>
                                        CCI provides a superior method of creating and maintaining customer information
                                        within JB Hunt. The new application centralizes our customer information by
                                        replacing several customer creation and profile screens formerly used within the
                                        Business System, Host screens and comment fields throughout the company.

                                          </p><br>
                                <p>

                                        CCI provides a central location to access customer information within the JB
                                        Hunt system. If the Customer Name is used as part of the search criteria, the
                                        system displays lists of possible location matches. After a search criteria is
                                        entered, the Search button is pressed to conduct an internal system search. The
                                        internal search enforces naming and address standards, decreases keying errors
                                        and prevents duplicate codes from being created. If no matches are found within
                                        our system, an extended search can be conducted.

                                </p><br>
                                <p>  

                                        CCI provides access to an extended search for customer information outside JB
                                        Hunt. An extended search links the search criteria entered to the data stored by
                                        our Customer Information Service Provider. The extended search service allows us
                                        to validate new customer information before it is saved in our system. This
                                        service allows us to keep our customer information as current, standard and
                                        correct as possible.

                                </p> 
                                <br>
                                <br>
                                <b> Application URL :</b> <a
                                        href="http://cci.jbhunt.com/cci/authenticate/AuthenticationAction.do?method=forwardUser">
                                        CCI</a>
                                        <br>
                                      <b>  Other Links :</b>
                                <div class="video">
                                        <mat-video src="./assets/videos/1280.mp4"></mat-video>
                                  
                                </div>
                        </div>
                </div>
        </p-card>
        </div>
</div>