<div class="app">
    <p-tabView>
        <p-tabPanel header="Order" leftIcon="pi pi-calendar">
            <div class=content>
                <div class="p-grid">
                    <div class="p-col"><img class="app_icon" src="./assets/app_icon/Order/EOM.PNG"
                            [routerLink]="['/eom']"></div>
                    <div class="p-col"><img class="app_icon" src="./assets/app_icon\Order\centerscreen.PNG"
                            [routerLink]="['/centerscreen']"></div>
                    <div class="p-col"><img class="app_icon" src="./assets/app_icon\Order\CCI.PNG"
                            [routerLink]="['/cci']"></div>
                    <div class="p-col"><img class="app_icon" src="./assets\app_icon\Order\spot.PNG"
                            [routerLink]="['/spotprice']"></div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Operation" leftIcon="pi pi-inbox">
            <div class=content>
                <div class="p-grid">
                    <div class="p-col"><img class="app_icon" src="./assets/app_icon/Operation/Freightmanager.jfif"
                            [routerLink]="['/freightmanager']"></div>
                    <div class="p-col"><img class="app_icon" src="./assets/app_icon\Operation\RAILMANAGER.png"
                            [routerLink]="['/railmanager']"></div>
                   
                </div>
                
            </div>
        </p-tabPanel>
        <p-tabPanel header="Backoffice" leftIcon="pi pi-calendar">
            <div class=content>
                <div class="p-grid">
                    <div class="p-col"><img class="app_icon" src="./assets/app_icon/Bos/RBA.png"
                            [routerLink]="['/pace']"></div>
                    <div class="p-col"><img class="app_icon" src="./assets/app_icon\Bos\WORKDAY.png"
                            [routerLink]="['/workday']"></div>
                    <div class="p-col"><img class="app_icon" src="./assets/app_icon\Bos\HAWK.jfif"
                            [routerLink]="['/hawk']"></div>
                    <div class="p-col"><img class="app_icon" src="./assets\app_icon\Bos\SIMONNOW.png"
                            [routerLink]="['/simonnow']"></div>
                     <div class="p-col"><img class="app_icon" src="./assets/app_icon\Bos\AXB.jfif"
                                [routerLink]="['/axb']"></div>
                           
                           
                </div>
            </div>
        
            After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the
            well for this third and final story of the fictional Corleone crime family. Two decades have passed, and
            crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise
            that his family would one day be completely legitimate.
        </p-tabPanel>
        <p-tabPanel header="Vehicle" leftIcon="pi pi-user" rightIcon="pi pi-star">
            <div class="p-grid">
            <div class="p-col"><img class="app_icon" src="./assets/app_icon/Vehicle/DDD.png" [routerLink]="['/ddd']">
            </div>
            <div class="p-col"><img class="app_icon" src="./assets/app_icon/Vehicle/safetycve.png" [routerLink]="['/safetycve']">
            </div>
            <div class="p-col"><img class="app_icon" src="./assets/app_icon/Vehicle/award.jfif" [routerLink]="['/award']">
            </div>
            <div class="p-col"><img class="app_icon" src="./assets/app_icon/Vehicle/safetytraining.png" [routerLink]="['/safetytraining']">
            </div>
        </div>
            After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the
            well for this third and final story of the fictional Corleone crime family. Two decades have passed, and
            crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise
            that his family would one day be completely legitimate.
        </p-tabPanel>
    </p-tabView>
</div>