<section>
    post works!


    <div class="app">
        <i class="pi pi-calendar" style="font-size: 13em" [routerLink]="['/posts']"></i>
        <i class="pi pi-folder" style="font-size: 13em"></i>
        <i class="pi pi-calendar" style="font-size: 13em" [routerLink]="['/posts']"></i>    
        <i class="pi pi-folder" style="font-size: 13em"></i>
        
    
            <div>
              <img class="mdc-image-list__image" src="./assets/knowledge-icon.png" >
                <span class="mdc-image-list__label">New Icon</span>
                </div>
              </div>
</section>
