<div class="bg">
    
    <div class="workday">
        <p-card class="profile-card" styleClass="ui-card-shadow">

            <div class="style"><h3 class="header">WORKDAY</h3></div>
    <div class="body">
<p>Workday consists of all the Customers / Employee’s Data.
    All the invoice data will be stored and can be viewed in Workday.Workday also includes Integrations which runs on schedule that manipulates data between Applications 
</p><br>
<p>
    Workday application has a link between  RBI and the customer. Once the load got billed invoice wil generate in workay 
It may be either customer invoice or supplier invoice. Invoice was created in the for of XML through integartion.
Workday is used to check the BTC, SCAC - code , Driver aplha code and invoices</p><br>

 <p>

Customer invoices  (Account Payable - customer needs to pay the amount  )is send to the customer which contain due date, invoice amount,
Invoice status, Payment status, due amount,pre PDA , Post PDA , sales person , Invoicing PDA
</p><br><br>

<b> Application URL :</b> <a
href="https://wd5.myworkday.com/jbhunt/d/home.htmld">
WORKDAY</a>
<br>
<b>  Other Links :</b></div>
<div class="video">
<mat-video src="./assets/videos/1280.mp4"></mat-video>

</div></p-card></div></div>