<div class="bg">
<div class="eom"> 
<p-card class="profile-card" styleClass="ui-card-shadow">
    <H1 class="header">EOM</H1>
    <div class="body">
    <p>EOM stands for Enterprise Order Management, This applications is used to book orders. Order can be booked either manually or through tenders.
        Most of the loads are booked with skeleton. The Skeleton is the pre-defined structure to book the loads. The four mandatory customer codes to book
        the loads are Billto, Solicitor, Shipper and Receiver.

        EOM stands for Enterprise Order Management, This applications is used to book orders. Order can be booked either manually or through tenders.
        Most of the loads are booked with skeleton. The Skeleton is the pre-defined structure to book the loads. The four mandatory customer codes to book
        the loads are Billto, Solicitor, Shipper and Receiver.

        EOM stands for Enterprise Order Management, This applications is used to book orders. Order can be booked either manually or through tenders.
        Most of the loads are booked with skeleton. The Skeleton is the pre-defined structure to book the loads. The four mandatory customer codes to book
        the loads are Billto, Solicitor, Shipper and Receiver.
    </p>
    <div class="flowchart">
        <img src="./assets\app_icon\Order\eom_flowchart.PNG">
    </div>

    <p>
        EOM stands for Enterprise Order Management, This applications is used to book orders. Order can be booked either manually or through tenders.
        Most of the loads are booked with skeleton. The Skeleton is the pre-defined structure to book the loads. The four mandatory customer codes to book
        the loads are Billto, Solicitor, Shipper and Receiver.

        EOM stands for Enterprise Order Management, This applications is used to book orders. Order can be booked either manually or through tenders.
        Most of the loads are booked with skeleton. The Skeleton is the pre-defined structure to book the loads. The four mandatory customer codes to book
        the loads are Billto, Solicitor, Shipper and Receiver.
    </p><br>

    Application URL : <a href="http://eom.jbhunt.com/eom"> EOM</a><br>
    Other Links :
    </div>
<div class="video">
<mat-video src="./assets/videos/1280.mp4" ></mat-video>
</div>
</p-card></div>
</div>