<div class="bg">
    <div class="button">
        <button mdbBtn type="button" color="deep-purple" mdbWavesEffect><a href="/team">BACK</a></button>
    </div>
    <div class="eom">
        <p-card class="profile-card" styleClass="ui-card-shadow">
            <div class="style"><h3 class="header">Enterprise Order Management (EOM)</h3></div>
            <div class="body">
                <p>EOM used to book order, the order can be either skeleton, manual or through tender. The skeleton
                    provides the pre-defined structure to book the load. The tender through third party. We can
                    update/accept/reject/cancel the order. User can search with customer code and choosing a exact
                    skeleton that matches the criteria and choose and the no of copies of load . Choose the rate while
                    booking load and fleet decision. Finally choose the appointment date and the load is getting ready.
                    This is the flow of booking load in EOM.
                </p>
                <div class="flowchart">
                    <img src="./assets\app_icon\Order\eom_flowchart.PNG">
                </div>

                <p>
                    EOM contains Data Specific Search, Customer and Geographic Search and Tender Search. Skeleton
                    details contain information about load detail, carrier detail, and bill to code detail. The load
                    detail contains division, Project, Fleet, mode, load utilization and segment utilization. The
                    Equipment detail contains trailer and some additional specifications. The Cargo detail contains
                    commodity, quantity and weight. The carrier contains information about the carrier like carrier id,
                    carrier name, phone and email.
                    Data Specific Search used to search the loads and the load will provide information about the load
                    status, service type, origin, pickup, delivery, load status, shipper id, tractor, trailer, division,
                    mode and bill to code. The sample screenshot for the load. The load listing page also contains the
                    information about the load whether the load is parent load or child load. This also contain
                    information about accessorial, appointment maintenance, Reference Number, Load Comments, Load Rates,
                    Load Miles, LTL information, Parent load or child load.
                </p><br>

                Application URL : <a href="http://eom.jbhunt.com/eom"> EOM</a><br>
                Other Links :
            </div>
            
            <div class="video">
                <mat-video src="./assets/videos/1280.mp4"></mat-video>
            </div>
        </p-card>
    </div>
</div>