<section class="home" >
    <div class="p-grid">    
    <div class="p-col"><img class="app_icon"   src="./assets/application/app_know1.png"  [routerLink]="['/team']" ></div>
    <div class="p-col"><img class="app_icon"   src="./assets/application/shift_plan.PNG"  [routerLink]="['/shiftplan']" ></div>
    <div class="p-col"><img class="app_icon"   src="./assets/application/onboard.PNG" [routerLink]="['/Onboarding']" ></div>
    <div class="p-col"><img class="app_icon"   src="./assets/application/onboard.PNG" [routerLink]="['/quiz']" ></div>
    <div class="p-col"><img class="app_icon"   src="./assets/application/chatbot.PNG" [routerLink]="['/chatbot']" > </div>
    </div>
    <div class="p-grid">  
    <div class="p-col"><img class="app_icon"   src="./assets/application/techknowledge.PNG" > </div>        
    <div class="p-col"><img class="app_icon"   src="./assets/application/applens.PNG" > </div>
    <div class="p-col"><img class="app_icon"   src="./assets/application/auto_tool.PNG" > </div>
    </div>  
</section>