<div class="bg">
<div class="header"><h1>HAWK</h1></div>
<div class="body">
    <div class="p">
<p>All the validations and checks can be automated, and the Agreed upon Rates will be automatically sent to RBI during Rating .</p>

    <p>The customers will be notified if there's any Delay during the pickup or during Delivery due to customer then they will be charged for the delay depending upon the duration .
    There are Power Detention , Trailer Detention and Dwell Detention. </p>
    <p>Power when the truck is delayed , Trailer when the trailer is left at
    Customer or Dwell if the delay is at the Ramp     
    
</p></div>
<b> Application URL :</b> <a
href="http://hawkonescreen.jbhunt.com/HawkOneScreen/">
HAWK</a>
<br>
<b>  Other Links :</b>
<div class="video">
<mat-video src="./assets/videos/1280.mp4"></mat-video>

</div>


</div></div>