<div class="bg">
    
    <div class="hawk">
        <p-card class="profile-card" styleClass="ui-card-shadow">

            <div class="style"><h3 class="header">HAWK</h3></div>
<div class="body">
    
<p>All the validations and checks can be automated, and the Agreed upon Rates will be automatically sent to RBI during Rating .</p>
<br>
    <p>The customers will be notified if there's any Delay during the pickup or during Delivery due to customer then they will be charged for the delay depending upon the duration .
    There are Power Detention , Trailer Detention and Dwell Detention. </p><br>
    <p>Power when the truck is delayed , Trailer when the trailer is left at
    Customer or Dwell if the delay is at the Ramp     
    
</p><br><br>
<b> Application URL :</b> <a
href="http://hawkonescreen.jbhunt.com/HawkOneScreen/">
HAWK</a>
<br>
<b>  Other Links :</b></div>
<div class="video">
<mat-video src="./assets/videos/1280.mp4"></mat-video>

</div>

</p-card>
</div></div>