<div class="bg">
    
    <div class="safetycve">
        <p-card class="profile-card" styleClass="ui-card-shadow">

            <div class="style"><h3 class="header">
           SAFETY CVE APPLICATION</h3>
        </div>
        <div class="body">

<p>J.B. Hunt Transport, Inc. strives to provide a safe working environment for its employees and the company policy on safety is explained in the Safety Policy Statement. The company website provides useful links to Compliance Safety Systems, Commercial Vehicle Safety Alliance (CVSA), Federal Motor Carrier Safety Administration, National Safety Council, National Transportation Safety Board (NTSB), Occupation Safety and Health Administration (OSHA), and other safety websites.</p>
 
   <p> The Critical Vehicle Event Application is a web-based system that will allow recording and management of critical vehicle events, which occurred during a driver operation. The critical events are captured by the On-Board Computer (OBC) and gets recorded and displayed in the application where users are able to view and maintain the critical events of the drivers as well as the board codes that are associated with them. The critical vehicle events recorded in the application are Collision Mitigation, Hard Braking, Headway and Roll Stability.
    
    </p>
    <div class="flowchart">
        <img src=".\assets\app_icon\Vehicle\1.png">
    </div>
    <div class="flowchart">
        <img src=".\assets\app_icon\Vehicle\2.PNG">
    </div>   
<br><br>
    <b> Application URL :</b> <a
            href="https://safety.jbhunt.com/safety/critical-vehicle-events"> SAFETY CVE </a>
            <br>
                                      <b>  Other Links :</b></div>
         <div class="video">
            <mat-video src="./assets/videos/1280.mp4"></mat-video>
         </div></p-card>
    </div></div>

