<div class="bg">
    <div class="button">
        <button mdbBtn type="button" color="deep-purple" mdbWavesEffect><a href="/team">BACK</a></button>
    </div>
    <div class="safetytraining">
        <p-card class="profile-card" styleClass="ui-card-shadow">

            <div class="style"><h3 class="header">
           SAFETY TRAINING APPLICATION</h3>
        </div>
        <div class="body">
            <p>
                The J.B. Hunt 360° Training Platform is a web-based platform that displays a complete list of modules which educate and train employees. These modules are available online or in a classroom setting. We can also view an employees assigned, in progress, failed and passed training through real time reporting accessible through the platform.
                </p>
                <br><div class="flowchart">
                    <img src=".\assets\app_icon\Vehicle\safetytraining1.PNG">
                </div>
                <br><p>Capturing Classroom Attendance</p>
                <p>1. Click on Courses from the Left Navigation Pane</p>
                <p>2. Search for course you want to capture attendance </p>
                <p>3. Click on the course name to open the course overview </p>
                <p>4. Select the ATTENDANCE tab</p>
                <p>5. Click the ADD ATTENDE</p>
                <br><div class="flowchart">
                    <img src=".\assets\app_icon\Vehicle\safetytraining2.PNG">
                </div>
             <br><p>Working with Assignments Assignments within the platform function on a top-down basis. Business Unit level assignments cover everyone in the entire business unit, including all boards and users assigned to that business unit. Board level assignments are secondary and include all trainees belonging to a specific board. User level assignments only cover an individual User ID. When searching for an assignment, you must search by the level that the assignment was made. For example, if the assignment was made at the business unit level, you cannot search for the assignment by the user or board level.</p>
             <div class="flowchart">
                <img src=".\assets\app_icon\Vehicle\safetytraining3.PNG">
            </div>
            <br><p>Creating Mass Assignments:</p>
                <p>Creating mass assignments allows you to assign one or more courses to one or more users/boards. Use this function if you have a large group of Alpha Codes/Users that need to be assigned a specific module or if you want to create an automatic assignment for all current and future individuals attached to a specific Board. Mass assignments always include an End Date that must be considered carefully. Never use the default end date. You want to assign a reasonable end date to all mass assignments. The system currently has a default end date at 12/31/2199, which is an assignment duration of 182 years. Examples of preferred assignment duration times are: 30 days, 60 days, 90 days, 6 months, etc. NOTE: This functionality is only available to Safety Managers. 
               
               </p>
               <br><p>Assignment Maintenance </p>
                <p>Under the Assignments tab, you are able to view all current, active assignments. You can filter by the Course ID or Name and view all assignments for a particular course. Or you can choose to view assignments based on the Assignment Level (Business Unit, Board, User) or Assignment Type (Online, Classroom). You can only view assignments as they are assigned in the platform. If the assignment is created at the board level, you will only be able to see the assignment as a board level assignment. You cannot view the individual users under a particular board in the assignment screen. If you need to view all training applicable to one specific user, go the Reports tab and search from there.  
                </p>
                <div class="flowchart">
                    <img src=".\assets\app_icon\Vehicle\safetytraining4.PNG">
                </div>
                <br><p>The Exempt from Training function is available for training assignments that are active and is applicable only if the assignment is made at the Board level. The Exempt from Training function is not available for courses that are assigned at the User/Alpha Code level. This functionality is only available to Safety Managers.</p>
            <p>Working with Training Analytic:</p>
               <p> The Training Analytics tab in the left Navigation Bar is the first place you can go to check on the status of a user’s assignment. The reporting feature is provided by Power BI and the report includes details into classifications: Historical data and report details within the past 24 hours 360° Training Report (Which includes, Historical and report details within the past 24 hours) </p>
               <br><p>1. The top section of the report updates every night at midnight (historical data) </p>
              <p>2. The bottom section of the report is updated every hour within the past 24 hours 3.</p>
               <p>  This report is categorized by 2 tabs: Assigned and Participated </p>
               <p>A. Assigned – this tab is used to display courses that have been assigned out to users </p>
              <p> B. Participated– this tab is used to display those that have participated in the course and the status of whether the course has been completed or is still in progress.</p>
              <p> The driver can be able to view the training assigned to him in my training page. Once he completed it show in TA page.
               
               </p>
               <br><div class="flowchart">
                <img src=".\assets\app_icon\Vehicle\safetytraining5.PNG">
            </div>
           <br><br>
            <b> Application URL :</b> <a
            href="http://centerscreen.jbhunt.com/centerScreen/ViewCenterScreen.do?method=initView"> SAFETY TRAINING APPLICATION </a>
            <br>
                                      <b>  Other Links :</b></div>
         <div class="video">
            <mat-video src="./assets/videos/1280.mp4"></mat-video>
         </div>
</p-card>
            </div>
            </div>
        
