.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #a7e9b2;
    color: #000000;
    margin-left: 500px;
    margin-right:200px;
    text-align: right;
    width:60%
}
.message.from {
    background-color: #77b7f1;
    color: #000000;
    margin-right: 500px;
    margin-left: 200px;
    width:60%
}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}

.chatBotBody{
    background-image: url("/assets/backgroundtruck.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 5px;
}

.btn.btn-success{
    border-radius: 0 .25rem .25rem 0;
}

.chat{
    height: 80%;
    overflow-y: scroll;
}

.inputArea{
    position: fixed;
    bottom: 20px;
    width: 80%;
    margin-left:10% ;
}

