<div class="header">
    <h3>RAIL MANAGER</h3>
</div>
<div class="body">
    <div class="p">
        <p>        Rail Manager is an application which deals with intermodal routes on Rail i.e. here the load is transported through trains. 
        It is similar application like FM2, but for trains.
    </p>
    <p>
        The process in Rail Manager for completion of a load is:
    </p>
    <p>
        It starts with ingate call where the load comes to intermodal origin stop and after reaching the origin, the Arrival (AL) call is made i.e. load is at the train which will be the origin stop. Then, Departure call (R or PL) is called where load is dispatched to destination. In between the transportation several resources are attached and removed like CI, chassis …etc. and after reaching the destination grounding call (UR) is called i.e. 
        load is completed and removed from the rail.
    </p>
    
    <div class="flowchart">
        <img src="./assets\app_icon\Operation\Flowchart.PNG">
    
    </div>
    <b> Application URL :</b> <a
href="http://rm.jbhunt.com/RailManager2/index.iface">
RAILMANAGER</a>
<br>
<b>  Other Links :</b>
<div class="video">
<mat-video src="./assets/videos/1280.mp4"></mat-video>
</div>
    </div>
</div>
