<div class="bg">
    <div class="button">
    <button mdbBtn type="button" color="deep-purple" mdbWavesEffect><a routerLink="/team">BACK</a></button>
</div>
    <div class="simonnow">
        <p-card class="profile-card" styleClass="ui-card-shadow">

            <div class="style"><h3 class="header">SIMONNOW</h3></div>
    <div class="body">
        <br>
<p>
    Simon Now holds the Agreed upon rates from customer.The validation Rules will be set as per customer requirements
    How the rates must be calculated How The Invoice gets Delivered.All the validations and checks can be automated, and the Agreed upon Rates will be automatically sent to RBI during Rating  

</p>
<p>
    Simon Now is a Finance Application in which the rates and accessorial charges that are assigned to a particular Publication/Bill To Code/Lanes are displayed. This application contains all the information concerning the rates and accessorial charges. The published data in Simon Now provides the basis for rating processes. PDM/PDA ensures that the information within the Simon Now is accurate and up-to-date. Lane rates can be entered into the system through manual entry, ePublish and file/Eagle uploads. Accessorial rates can only be entered manually.

</p>
<p>
    There are different type of Search options in Simon Now. They are:</p>
   
<p>1.	Publication Code</p>
<p>2.Bill To Code</p>
<p>3.Lanes</p>
<p>4.Mixed Code List</p>
<p>Every serach criteria will be pulling the details of the Publication, Sections assigned in it, Items which are present under each section, Lanes which are contained in each Item, Accessorials assigned under each Lane and then so on..

</p>
<br><br>
<b>Application URL :</b> <a
href="http://finance.jbhunt.com/SimonNow/">
SIMONNOW</a>
<br>
<b>  Other Links :</b></div>
<div class="video">
<mat-video src="./assets/videos/1280.mp4"></mat-video>

</div> </p-card>
</div></div>
