<div class="header">
    <h3>FREIGHT MANAGER</h3>
</div>
<div class="body">
<div class="p">
    <p>
        In J B Hunt, Freight Manager (FM2) play an important role in business. In FM2 the most important task is transportation of or delivery load from one place to another. It consists of different module. They are:
1.	Planning
2.	Driver
3.	Carrier
4.	Equipment
5.	Training
6.	Other
    </p>
    <p>
        Every module in the FM2 consist of different sub-module which are specified to certain task to do. The main important task performed in FM2 is planning a load on truck and delivering it to destination. 
        In this process, many resources are used to complete the load like assigning truck, driver, carrier, trailer ...etc.
    </p>
    <p>
        The Freight Manager consist of details about driver, load, fleet and truck. Here the driver is assigned to the truck then the load is preplanned to it, and later dispatched to the destination. In between this process the calls are made like Arrival, loaded, unloaded, spot (removing trailer), 
        comment (adding trailer) and terminate (completion of delivery).
    </p>
    <p>
        After the load is created it comes to FM2 in pickup view and task are performed to delivery it. FM2 is user friendly interface i.e. easy to understand and work on it. Here the user can keep a track on their load and truck like location, 
        status of truck or load. 
    </p>
    <p>The process of completion of load in FM2 is in the following way. In preplan screen (MPP or order segment) the load is preplanned on truck or driver, then resources are allocated to it like trailer or container. In Checkcall the load is dispatched, and several calls are 
        made to complete it.  

    </p>
    <b> Application URL :</b> <a
href="http://fm.jbhunt.com/FreightManager2/ui/orderSegment.iface?preRequestAction=orderSegment.init">
FREIGHT MANAGER</a>
<br>
<b>  Other Links :</b>
<div class="video">
<mat-video src="./assets/videos/1280.mp4"></mat-video>
</div>
</div>
</div>
