<div class="bg">
    <div class="button">
        <button mdbBtn type="button" color="deep-purple" mdbWavesEffect><a href="/team">BACK</a></button>
    </div>
    <div class="axb">
        <p-card class="profile-card" styleClass="ui-card-shadow">

            <div class="style"><h3 class="header">ACCESSORIAL AUTHORIZATION AND BILLING (AXB)</h3>
    </div>
    <div class="body">
       
<p>
    The main use of the application is to Authorize and Bill the Accessorial Charges. This application will look for loads with accessorial charges such as Power Detention, Dwell Detention, DRVRLOAD, DRVRUNLD, LUMPLOAD, LUMPUNLD for billing and authorization.
It pulls the Accessorial rules from the CCI and Authorization rules from Simon Now.
There are 3 tabs in the application: Authorization, Billing and Search.
</p><br>
<p>
    The Accessorials will be setup originally in Simon Now and all the rates and charges which are required for the Billing process will be picked up from the Simon Now Application.
</p>
<p>
Billing Tab:
This tab maintains all the billing processes happening and as soon as we click on the Billing tab we will get the below screen in 
which it displays the Next Bill Load.Then it will be displaying the order details which ever needs to be billed. If there are no loads present to bill it will be displaying ‘No Loads to be billed’ message.
</p><br>
<p>
    The Billing User would be able to perform the below activities:
<p> 1.Read details of the order</p>	
<p>	2.Update AutoRate Flag</p>	
<p>	3.View List Number</p>
<p> 4.Add/View order comments</p>	
<p> 5.View customer Information</p>	
<p> 6.Add standard order comments when any workaction is selected by the user.</p>
<br>
<p>
    Authorization Tab:
    The things which should be done in Authorization tab are:
<p> 1.Checking the details of the order.</p>
<p> 2.Viewing the Filenet Documents necessary for billing.</p>
<p> 3.Add Order Comments.</p>
<p> 4.View Order Comments.</p>
<p> 5.View Customer Details.</p>
<p> 6.View Load Reference Number</p>
<p> 7.View Error messages</p>
<p> 8.View Publication Information</p>
<p> 9.Adding Standard Order Comments by the system when the order is Completed or Denied.</p>
<p> 10.View OBC comments(Only if the charge code is DetentionP)</p>
<br><br>
<b> Application URL :</b> <a
href="http://accessorialauthbill.jbhunt.com/AccessorialAuthBill/pages/search/search.iface">
AXB</a>
<br>
<b>  Other Links :</b></div>
<div class="video">
<mat-video src="./assets/videos/1280.mp4"></mat-video>

</div></p-card></div></div>